<div ng-controller="namesCtrl">
    <h1>PAGE 01</h1>

    Name:

    <select ng-model="currentName">
        <option ng-repeat="x in names | orderBy:'country'">{{x.name}}</option>
    </select>

    <br/>

    Current name: <span ng-bind="currentName"></span>

    <br/><br/>

    Filter: <input type="text" ng-model="filterName"/>

    <br/>

    <ul>
        <li ng-repeat="x in names | filter:filterName">
        {{ x.name + ', ' + x.country }}
        </li>
    </ul>

    <br/>
    <b>Form:</b>

    <form ng-controller="validateCtrl" name="formX" novalidate="true">
        <p>Username:
           <br/>
           <input type="text" name="user" ng-model="user" required="true"/>
           <span style="color:red" ng-show="formX.user.$dirty && formX.user.$invalid">
               <span ng-show="formX.user.$error.required">Username is required.</span>
           </span>
        </p>

        <p>
            Email:<br/>
            <input type="email" name="email" ng-model="email" required="true"/>
            <span style="color:red" ng-show="formX.email.$dirty && formX.email.$invalid">
                <span ng-show="formX.email.$error.required">Email is required.</span>
                <span ng-show="formX.email.$error.email">Invalid email address.</span>
            </span>

            <br/>

            Valid: {{formX.email.$valid}}
            <br/>
            Dirty: {{formX.email.$dirty}}
            <br/>
            Error: {{formX.email.$error.email}}
        </p>

        <p>
            <input type="submit" ng-disabled="formX.user.$dirty && formX.user.$invalid || formX.email.$dirty && formX.email.$invalid"/>
        </p>
    </form>
</div>