<div style="padding:50px;">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  </div>

  <div align="center">
    <b>Modules: </b>

    <a routerLink="/banks" routerLinkActive="active">Banking</a> |
    <a routerLink="/incomes" routerLinkActive="active">Incomes</a> |
    <a routerLink="/expenses" routerLinkActive="active">Expenses</a> |
    <a routerLink="/investments" routerLinkActive="active">Investments</a> |
    <a routerLink="/accounting" routerLinkActive="active">Accounting</a>
  </div>

  <router-outlet></router-outlet>

</div>